@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  
.signika-negative-custom {
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body{
    background-color: #020D09;
    color: #ffff
}

::-webkit-scrollbar {
  width: 14px; /* Ancho de la barra vertical */
  height: 20px; /* Alto de la barra horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fondo de la pista */
}

::-webkit-scrollbar-thumb {
  background: #000000; /* Color de la barra */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #141414; /* Color al hacer hover */
}